//<МИКСИНЫ>===============================================================================================
//@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================
//<ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "kartikab";
    src: url("../fonts/kartikab.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Calibri";
    src: url("../fonts/Calibri.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LuganskyV";
    src: url("../fonts/LuganskyV.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Reef";
    src: url("../fonts/Reef.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

//</Подключаем шрифты>=======================================================================================
//<Иконочные шрифты>==========================================================================================
//</Иконочные шрифты>==========================================================================================
//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Raleway";
//</Шрифт по умолчанию>==========================================================================================
//</ШРИФТЫ>=======================================================================================================
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 960;
$md1: $mw+12;
$md2: 767.98;
$md3: 479.98;
$fc: #ffffff;
$fc2: #000000;
$fco: #2a2a2a;
//</ПЕРЕМЕННЫЕ>===========================================================================================================
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "reset.scss";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.fullscreen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #7ca5d9;
    margin: 0 auto;
    &:hover {
        background-color: #5e80ab;
    }
}

.btn-two {
    border: 1px solid $fc;
    margin: 0 auto;
    &:hover {
        background: rgba(205, 214, 219, 0.3);
    }
}

.btn-tree {
    border: 1px solid #7ca5d9;
    & a {
        color: $fc2;
    }
    &:hover {
        background: rgba(206, 221, 255, 0.685);
    }
}

.btn,
.btn-two,
.btn-tree {
    transition: all 0.3s;
    width: 239px;
    height: 49px;
    border-radius: 20px;
    text-transform: uppercase;
    & a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        font-family: "Roboto";
        line-height: 1.2;
        font-weight: 600;
    }
}

//</ОБОЛОЧКА>===========================================================================================================
//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
    max-width: $mw + px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px 0 10px;
    @media (max-width: $md1+px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: 450px;
        padding: 0 10px;
    }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//@import "forms.scss";
//@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================//<ОСНОВНОЙ БЛОК>====================================================================================================
body {
    color: $fc;
    font-family: $fontfamily;
    font-size: 18px;
}

.logo {
    font-family: "Reef";
    font-size: 26.2px;
}

a {
    color: $fc;
    text-decoration: none;
    list-style: none;
}

li {
    list-style: none;
}
//</HEADER>
@import "header.scss";
//</HEADER>=============================
//======================================
//</ОСНОВНОЙ БЛОК>======================
@import "start.scss";
@import "green.scss";
@import "join.scss";
@import "slider-block.scss";
//</ОСНОВНОЙ БЛОК>=======================
//======================================
//<FOOTER>===============================
@import "footer.scss";
//</FOOTER>==============================
